<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Sinatra AR Index</title>
  </head>
  <body>
    <h1>Sinatra AR Index</h1>
    <% @posts.each do |post|%>
      <h2><%= post.name %></h2>
      <p><%= post.content %></p>
    <%end%>
  </body>
</html>
