

<form action="/posts" method="post">
<input type="text" name="name" >
<input type="text" name="content" >
<input type="submit" name="submit" value="submit">
</form>



<!-- We need to create an erb file in the views directory, new.erb,
with a form that POSTs to a controller action, /posts.  -->
<!-- The controller action should use the Create CRUD action to create the blog post and save it to the database.

 When the form on new.erb is submitted, the action, pointing to /posts, will trigger a render of an index.erb file automatically.
 Before we can fully test if our form is working, we need to create that index.erb file, as our site will currently crash upon submission. -->
